<div class="{{class}}">
  <label
    for="name"
    class="block text-sm font-medium leading-6 text-gray-900"
  >{{description}}</label>
  <div class="mt-2">
    <input
      id="{{name}}"
      type="{{type}}"
      name="{{name}}"
      value="{{value}}"
      oninput="validInput(this)"
      {{#if step}}
        step="{{step}}"
      {{/if}}
      {{#if pattern}}
        pattern="{{pattern}}"
      {{/if}}
      class="block w-full rounded border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
      {{#if required}} required {{/if}}
    />
  </div>
  <label class="text-remove">
    {{error}}
   </label>
</div>
<script>

  function validInput(input) {

    if( input.pattern === "" ){
      return;
    }

    const regex = new RegExp(input.pattern);

    if (!regex.test(input.value)) {
        input.value = '';
    }

  }

</script>