<div class="flex flex-col space-y-5 w-3/5 space-x-3">
  {{> AppraiserScoreModal 
  id="container" 
  href=view.appraiser.update.href 
  appraiser=view.appraiser.session 
  inputRegex=view.inputs.score.regex
  }}
  {{!-- // TODO refatorar isso, mover regra para o .js --}}
  {{#if ( or userSession.isAdmin ( or ( isEqual userSession.id article.idCreatorAuthor ) ( and ( isInclude userSession.id ( idAppraisers article.appraisers ) ) view.article.isOpen ) ) ) }}
    <div class="flex flex-end space-x-3 bg-slate200 p-3 rounded h-16">
        {{#if ( or userSession.isAdmin ( isEqual userSession.id article.idCreatorAuthor ) )}}
          {{#if ( or userSession.isAuthor view.article.isOpen)}}
            {{> ButtonIcon description="Editar" icon="edit" class="bg-white text-primary" href=view.buttons.update.href}}
          {{/if}}
          {{> ButtonIcon description="Deletar" icon="delete" class="bg-red100 text-red800" href=view.buttons.delete.href }}
        {{/if}}
        {{#if ( and ( isInclude userSession.id ( idAppraisers article.appraisers ) ) view.article.isOpen ) }}
          {{> ButtonIcon description="Notas" icon="edit" class="bg-white text-primary" onClick="onEditAvaliador()" }}
        {{/if}}
        {{#if ( and userSession.isAdmin view.article.isOpen )}}
          <form method="POST" action={{view.buttons.accepted.href}}>
           {{> ButtonIcon 
            description="Publicar"
            icon="done"
            class="bg-green100 text-green800 disabled:bg-green100/35 disabled:text-green800/35"
            disabled=view.appraiser.isArticleNotRated
           }}
          </form>
          <form method="POST" action={{view.buttons.reject.href}}>
            {{> ButtonIcon 
            description="Rejeitar"
            icon="block"
            class="bg-red100 text-red800 disabled:bg-red100/35 disabled:text-red800/35"
            disabled=view.appraiser.isArticleNotRated
            }}
          </form>
         {{/if}}
    </div>
  {{/if}}
  <div class="flex flex-col space-y-5">
    <h2 class="text-3xl font-medium">{{article.title}}</h2>
    <h2 class="text-lg">{{article.summary}}</h2>
    <a class="text-primary cursor-pointer font-medium" href="{{article.linkPdf}}" target="_blank" >Link PDF</a>
    <div class="flex space-x-3 items-center">
      {{> Badge description=article.status.description type=(statusArticleToTypeBadge article.status.type)}}
      {{#if article.totalScore }}
        {{> BadgetScore title="Nota final" score=article.totalScore good=80 medium=60 }}
      {{else}}
        {{> Badge description="Não avaliado" type="warning" }}
      {{/if}}
      <div>&#128197; {{article.created}}</div>
    </div>
    <div class="flex flex-col space-y-5">
      <label class="text-2xl font-medium">Autores</label>
      <ul class="flex flex-col space-y-2">
        <li class="font-medium">{{authorsToRaw article.authors}} </li>
      </ul>
    </div>
    <div class="flex flex-col space-y-5">
      <label class="text-2xl font-medium">Avaliadores</label>
      <ul class="flex flex-col space-y-5">
        {{#if ( isEmpty article.appraisers)}}
          {{> Badge description="Nenhum avaliador relacionado" type="warning" }}
        {{else}}
          {{#each article.appraisers}}
            <li class="flex flex-col space-y-2">
              <div class="flex flex-col">
                <label class="text-lg font-medium">{{name}}</label>
                <label>{{email}}</label>
              </div>
              <div>
                {{#if rated}}
                  <div class="flex space-x-3">
                    {{> BadgetScore title="Relevancia" score=relevantScore good=8 medium=6 }}
                    <div class="flex jusitfy-center items-center">
                      <label class="font-medium">X</label>
                    </div>
                    {{> BadgetScore title="Experiencia" score=experienceScore good=8 medium=6 }}
                    <div class="flex jusitfy-center items-center">
                      <label class="font-medium">=</label>
                    </div>
                    {{> BadgetScore title="Nota final" good=80 medium=60 score=(multiplication relevantScore experienceScore) }}
                  </div>
                {{else}}
                    {{> Badge description="Não avaliado" type="warning" }}
                {{/if}}
              </div>
            </li>
          {{/each}}
        {{/if}}
      </ul>
    </div>
  </div>
</div>

<script>
  function onDelete(id){
    window.location.href = `window.location.href=${id}`
  }

  function onEditAvaliador() {
    document.getElementById("container").classList.toggle("hidden")
  }
</script>