<div class="flex flex-col space-y-5 w-2/4">
  <h2 class="text-3xl font-medium">{{article.title}}</h2>
  <h2 class="text-lg">{{article.summary}}</h2>
  <h2 class="text-primary cursor-pointer font-medium">{{article.linkPdf}}</h2>
  <div class="flex space-x-3 items-center">
    {{> Badge description=article.status.description type=(statusArticleToTypeBadge article.status.type)}}
    {{}}
    <div>&#128197; {{article.created}}</div>
  </div>
  <div class="flex flex-col space-y-5">
    <label class="text-2xl font-medium">Autores</label>
    <ul class="flex flex-col space-y-2">
      <li class="font-medium">{{authorsToRaw article.authors}} </li>
    </ul>
  </div>
  <div class="flex flex-col space-y-5">
    <label class="text-2xl font-medium">Avaliadores</label>
    <ul class="flex flex-col space-y-5">
      {{#each article.appraisers}}
        <li class="flex flex-col space-y-2">
          <div class="flex flex-col">
            <label class="text-lg font-medium">{{name}}</label>
            <label>{{email}}</label>
          </div>
          <div>
            {{#if rated}}
              <div class="flex space-x-3">
                {{> BadgetScore title="Relevancia" score=relevantScore }}
                {{> BadgetScore title="Experiencia" score=experienceScore }}
                {{> BadgetScore title="Nota final" score=(multiplication relevantScore experienceScore) }}
              </div>
            {{else}}
                {{> Badge description="Não avaliado" type="warning" }}
            {{/if}}
          </div>
        </li>
      {{/each}}
    </ul>
  </div>
</div>